# This is Git's per-user configuration file.
# This file is managed by Ansible. Manual edits may be overwritten.
[user]
name = {{ git_user_full_name }}
email = {{ git_user_email }}
sslVerify = {{ git_ssl_verify }}